{% extends "base.html" %}
{% block content %}
<div class="about-section">
    <h2>About My Media Diet</h2>
    <p>My Media Diet is a personal project designed to help me keep track and analyze what I watch, read, and listen to. Mostly, I wanted a way to remember if I had already seen "that movie" or listened to "that album". Plus, I also wanted to see if I was using one streaming service more than another.</p>

    <h3>My method</h3>
    <ul>
        <li><strong>Media Entry Logging:</strong> Easily log details about movies, TV shows, books, music (and more) consumed.</li>
        <li><strong>Comprehensive Statistics:</strong> View detailed statistics about media consumption patterns, keep track of ratings, genres, foreign media, did I like it or did I not finish it? </li>
        <li><strong>Regarding entries:</strong> For TV shows, I logged whenever I watched episodes for a specific series. So I may have watched more than one episode for an entry. And for recommended, mostly, these more things that I liked, and would recommend at the very least, to some people.</li>
    </ul>
</div>
{% endblock %}