{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}

    <p>
        {{ form.identifier.label }}<br>
        {{ form.identifier(size=40) }}
        {% for error in form.identifier.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=40) }}
        {% for error in form.password.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
